.sp550 {
  width: 100%;
  background-color: #2424249f;
}

body {
  position: relative;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #242424 100%
  );

  background-image: url('https://i.goopics.net/jw7jk8.png');
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  height: 100vh;
  width: 100%;
  margin: 0;
  margin-top: 96px;

}


.mb150 {
  margin-bottom: 200px;
}


.vh100 {
  min-height: 100vh;
}

.h100{
  height: 100%;
}

.mh100 {
  min-width: 100vh;
}
.p125 {
  padding: 0 125px;
}


.p40 {
 padding: 0 40px;
}