{% extends 'base.html.twig' %}

{% block title %}Contact Index{% endblock %}

{% block body %}
<div class="bg-[#2424249f] m-0 h100">

    <div class="text-center justify-center content-center mt-5 pt-5 mh100">
        <h1 class="text-2xl font-bold mb-4 mt-5 text-white justify-center m-5">Reprise d'activitée</h1>
        <p class="text-xl font-bold mb-4 mt-5 text-white justify-center m-5 ">
            Votre demande a bien été envoyé elle sera traitée par notre équipe dans les plus brefs délais.
        </p>

        <p class="text-2xl font-bold mb-4 mt-5 text-white m-5 ">
            Si vous avez des questions ou des préoccupations supplémentaires, n'hésitez pas à nous contacter via notre
            système de tickets sur Discord. Nous sommes là pour vous aider !
        </p>
        <p class="text-2xl font-bold mb-4 mt-5 text-white m-5 ">
            Dans le cas où vous n'avez pas de réponse, cela peut être dû à des vacances, un cocktail ou encore des
            bouchons sur l'autoroute donc patience !
        </p>
        <a href="https://discord.com"
            class="inline-block bg-black text-white hover:bg-[#fee501] hover:text-black font-bold py-2 px-4 rounded mt-5 ">
            Discord
        </a>
    </div>
</div>
{% endblock %}